@{
    ViewData["Title"] = "Catedrala Evanghelică Sf. Maria";
}
<div class="container">
    <h2>Catedrala Evanghelică Sfânta Maria</h2>
    <h4>Die Evangelische Stadtpfarrkirche</h4>
    <p>După cum reiese dintr-un document din anul 1371, pe locul actualei biserici ar fi existat o biserică mai veche ce purta hramul Sfintei Maria. Poziția unde această capelă sau biserică este marcată și în pavajul Pieței Huet.</p>
    <p>Conform documentelor vremii, construcția bisericii actuale începe în jurul anului 1350, ce-a mai veche parte din biserică fiind corul, așa cum reiese dintr-un document din anul 1371.</p>
    <p>După cum reies din documentele care descriu lucrările de construcție ale bisericii, prima etapă a șantierului se încheie în anul 1371.</p>
    <p>Începând cu anul 1424 începe ce-a mai importantă perioadă din istoria bisericii, perioadă în care au fost definitivate navele și în care au fost demolați vechii pereți exteriori și au fost ridicați cei noi. Această perioadă s-a încheiat în anul 1432.</p>
    <p>Într-un document din anul 1432 este menționată capela Sfântul Nicolae, fiind partea centrală a ferului. În acea perioada biserica a ajuns la dimensiunile sale actuale.</p>
    <p>În perioada următoare viitoarele intervenții s-au rezumat la mărirea spațiilor și la facilitarea accesului în biserică. Lucrările de construcție a turnului bisericii se încheie în anul 1494, în timp ce în anul 1499 i s-a mai adăugat un nivel.</p>
    <p>În anul 1520 a fost ridicat turnulețul sudic fiind ultima intervenție asupra bisericii. În anii următori s-a definitivat aspectul actual al bisericii, în anul 1530 a fost demolată capela Sf. Maria.</p>
    <p>În anii următori, lucrările efectuate asupra bisericii s-au rezumat la renovări, schimbarea orgii și la montarea ceasului din turnul bisericii în anul 1881.</p>
    <p><h6><i>Bibliografie: Marcu Istrate, Daniela, Istrate, A., Moraru, V., 2007, Sacru și profan într-un oraș european 1150-2007, Ed. Hieronymus, Brașov</i></h6></p>
    <div id="harta" style="position:center">
        <br />
        <iframe src="http://qgiscloud.com/mihneacristianpopa/Harta_web_Piata_Huet/mobile" width="1140" height="350"></iframe>
    </div>
    <br />
    <div class="row">
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/images/IMG_1699.jpg" target="_blank">
                <img src="~/images/IMG_1699.jpg" alt="Catedrala Evanghelica" style="width:100%">
                <div class="caption">
                    <p>Catedrala Evanghelică, ferestrele gotice</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/images/IMG_1702.jpg" target="_blank">
                <img src="~/images/IMG_1702.jpg" alt="Catedrala Evanghelica" style="width:100%">
                <div class="caption">
                    <p>Catedrala Evanghelică, orga mare</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/images/Cat_Ev_1882.jpg" target="_blank">
                <img src="~/images/Cat_Ev_1882.jpg" alt="Catedrala Evanghelica" style="width:100%">
                <div class="caption">
                    <p>Catedrala Evanghelică în anul 1882 (sursă:www.razvanpop.ro)</p>
                </div>
            </a>
        </div>
    </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/Piata_Huet_1280.jpg" target="_blank">
                    <img src="~/images/Piata_Huet_1280.jpg" alt="Piata Huet" style="width:100%">
                    <div class="caption">
                        <p>Autor: Radu Oltean, Art Historia</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/Piata_Huet_1380.jpg" target="_blank">
                    <img src="~/images/Piata_Huet_1380.jpg" alt="Piata Huet" style="width:100%">
                    <div class="caption">
                        <p>Autor: Radu Oltean, Art Historia</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/Piata_Huet_1420.jpg" target="_blank">
                    <img src="~/images/Piata_Huet_1420.jpg" alt="Piata Huet" style="width:100%">
                    <div class="caption">
                        <p>Autor: Radu Oltean, Art Historia</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/Piata_Huet_1520.jpg" target="_blank">
                    <img src="~/images/Piata_Huet_1520.jpg" alt="Piata Huet" style="width:100%">
                    <div class="caption">
                        <p>Autor: Radu Oltean, Art Historia</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/Piata_Huet_1800.jpg" target="_blank">
                    <img src="~/images/Piata_Huet_1800.jpg" alt="Piata Huet" style="width:100%">
                    <div class="caption">
                        <p>Autor: Radu Oltean, Art Historia</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/Catedrala_Evanghelica.jpg" target="_blank">
                    <img src="~/images/Catedrala_Evanghelica.jpg" alt="Catedrala Evanghelica" style="width:100%">
                    <div class="caption">
                        <p>Catedrala Evanghelica, vedere de pe Podul Minciunilor</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
<p class="pull-right"><a href="#">Back to top</a></p>