@{
    ViewData["Title"] = "Introducere";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Sibiul, un oraș cu o istorie de 826 de ani, a fost și va rămâne un loc ce continuă să mă fascineze. Factorul principal ce m-a determinat să aleg această temă este zestrea lăsată de zecile de generații de sași ce au dus la fondarea și construirea acestui oraș au făcut ca Sibiul să fie un oraș unic în România. Un alt factor ce a dus la această alegere a fost și pasiunea mea pentru informatică, istorie, arhitectură, cultura germană, dar și faptul că o parte din rădăcinile mele se trag din Sibiu.</p>
<p>Istoria bogată, patrimoniul arhitectural dar și religios, diversitatea culturală și etnică au reprezentat un mix potrivit pentru a face din Sibiu unul din cele mai frumoase orașe din România.
Lucrarea de față este rezultatul documentării mele asupra acestui oraș fiind inspirat după modelul lucrărilor de specialitate concepute pe acest subiect, lucrări precum ”Topografia monumentelor din Transilvania – Municipiul Sibiu” a lui A. Avram și I. Bucur dar și după lucrarea lui Hermann Fabini ”Sibiul Gotic” și ”Das alte Hermannstadt Veduten und stadtpläne aus vier Jahrhunderten”.</p>
<p>Prin elaborarea acestei teme am dorit să îmi îmbogățesc cunoștințele despre istoria orașului însă și să îmi pun în practică cunoștințele dobândite pe parcursul anilor de facultate.</p>
<p>Scopul aplicației este acela de a fi un mijloc de promovare și de punere în valoare a istoriei și patrimoniului sibian utilizând metode SIG și de programare open-source. Pentru realizarea aplicației am folosit serviciul QGIS Cloud, QGIS și mediul de dezvoltare Microsoft Visual Studio Community.</p>
<p>Metodele utilizate în realizarea acestei lucrări au fost bazate pe studierea și extragerea informațiilor legate de istoria orașului și de patrimoniul acestuia și clasificându-le în funcție de criteriile alese de mine pentru clasificarea clădirilor de patrimoniu. Vectorizarea clădirilor s-a facut utilizând QGIS iar urcarea lor pe serviciul cloud QGIS Cloud, serviciu s-a facut utilizând plugin-ul ce l-am descris în cadrul acestei lucrări. Odată ce am terminat extragerea informațiilor necesare și am clasificat clădirile, a urmat etape scrierii codului sursă în vederea creării paginii web.</p>
<p>Aș dori să mulțumesc profesorului meu îndrumător Asist. Univ. dr. Vișan Mircea Cristian pentru sprijinul acordat în scopul realizării acestei lucrări dar și în timpul anilor de studenție.
 De asemenea aș dori să îi mulțumesc și lui Răzvan Pop, viceprimar al Municipiului Sibiu,  arh. Hermann Fabini,  arh. Hanna Derer și dr. Paul Niedermaier pentru ajutorul acordat în obținerea de surse bibliografice în legătura cu istoria și patrimoniul Sibiului.</p>
<p class="pull-right"><a href="#">Back to top</a></p>