@{
    ViewData["Title"] = "Istoria orașului";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Istoria Sibiului se întinde pe o perioadă lungă de timp. Acest spațiu a fost populat încă din cele mai vechi timpuri, existând urme ale prezenței umane ce datau încă din perioada Epocii de Piatră. Descoperirile făcute de către arheologi au scos la lumină diverse vestigii ce datau atât din perioada Epocii de Piatră însă și din perioada Hallstatt, iar în împrejurimile orașului aceștia au descoperit diverse bijuterii și obiecte ceramice dacice. Descoperirile acestora indicau faptul că principalele activități ale populațiilor ce locuiau în acest spațiu se bazau pe agricultură și vânătoare.</p>
<p>Pe teritoriul actual al orașului au fost descoperite și urme ce aparțineau unei antice așezări din perioada romană, așezare numită Cedonia. Această așezare poate fi regăsită și pe harta romană Tabula Peutingeriana. Cel mai probabil vatra acestei așezări ar fi fost pe teritoriul fostului sat Gușterița, actual cartier al orașului.</p>
<p>Premisele fondării orașului încep odată cu apariția primilor coloniști de origine germană în Transilvania (în ger. Siebenbürgen, în dialectul săsesc: Siweberjen – în trad. Cele șapte cetăți), coloniști ce au fost aduși în acest spațiu de către Géza al II-lea, regele Ungariei. Acești coloniști proveneau în special din zona Rhein-Mosel. Prima mențiune documentară a Sibiului apare în anul 1191, la sf. sec. al XII-lea atunci când Papa Celestin al III-lea atestă prezența unei prepozituri libere germane în Transilvania ce își avea drept sediu la Sibiu (Praepositura Cibiensis), document făcut de acesta din dorința regelui maghiar Béla al III-lea. Acest document făcea referire la organizarea bisericească a coloniștilor, aceștia fiind denumiți în acest document drept teutonici (Ecclesia Theutonicorum Ultransilvanorum).</p>
<p>Această așezare germană din sudul Transilvaniei apare menționată în anul 1321 sub numele de Hermannsdorf (în trad. Satul lui Hermann) în timp ce în a doua jumătate a sec. al XIV-lea, în anul 1357 Hermannsdorf-ul capătă statutul de Civitas fiind cunoscut în limba latina sub numele de Burgenses de Cibinio. În anul 1366 acesta este menționat sub numele de Hermannstadt (în trad. Orașul lui Hermann).</p>
<p>Legenda fondării orașului ni-l prezintă pe Hermann în două ipostaze diferite, una de cavaler iar una de cizmar. Hermann în ipostaza de cavaler ar fi construit aici prima incintă de fortificații a orașului, în zona unde astăzi se află Piața Mică și Piața Huet în timp o altă legendă ne spune că Hermann ar fi fost un meșter cizmar ce ar fi cerut localnicilor zonei teren ”cât o piele de bivol” pentru a-și putea construi un atelier de cizmărie. În schimbul acestui teren Hermann trebuia să facă de încălțat tuturor localnicilor din zonă. Legenda ne mai spune că Hermann a adus o piele de bivol pe care a tăiat-o în fâșii foarte subțiri, reușind să înconjoare o suprafață foarte mare de teren. Localnicii și-au respectat promisiunea și i-au oferit lui Hermann terenul.</p>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/images/stema1.jpg" target="_blank">
                <img src="~/images/stema1.jpg" alt="Sibiu" style="width:100%">
                <div class="caption">
                    <p>Stema Sibiului pe Bastionul Soldisch</p>
                    <p><i><h6>sursă:http://www.patrimoniu.sibiu.ro</h6></i></p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/images/tabula.jpg" target="_blank">
                <img src="~/images/tabula.jpg" alt="Sibiu" style="width:100%">
                <div class="caption">
                    <p>Poziția Cedoniei pe Tabula Peutingeriana</p>
                    <p><i><h6>sursă:www.gaia-gis.it</h6></i></p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/images/veduta.jpg" target="_blank">
                <img src="~/images/veduta.jpg" alt="Sibiu" style="width:100%">
                <div class="caption">
                    <p>Vedută asupra Sibiului</p>
                    <p><i><h6>sursă:Fabini, H, Das alte Hermannstadt Veduten und stadtpläne aus vier Jahrhunderten, 2007, Ed. Monumenta, Sibiu</h6></i></p>
                </div>
            </a>
        </div>
    </div>
</div>
<p>O altă legendă sibiană ne spune că fiind cuceriți de bogățiile locului, două căpetenii săsești și-ar fi înfipt încrucișat săbiile în pământ, hotărând ca aici să se își construiască o așezare, imaginea celor două săbii putând fi observată și pe stema orașului.</p>
<p>Invaziile tătarilor în Europa nu au ocolit Sibiul, astfel că la 11 aprilie 1241 orașul a fost atacat și distrus de aceștia. Cronicile vremii indică faptul că în urma atacului, numai 100 de locuitori ai orașului au reușit să se salveze și că mânăstirea Dominicană ce se afla pe locul unde astăzi se află Capela Romano-Catolică ”Sfânta Cruce” din apropierea gării a fost distrusă în totalitate.</p>
<p>La sfârșitul secolului al XV-lea apare Universitatea Săsească sau Sächsische Nationsuniversität (Universitatea Națiunii Săsești), instituție ce administra localitățile săsești dar și unele sate românești. Istoricul sas Thomas Nägler denumește satele unde nu locuiau sași sub numele de Scaune filiale. Scaunul Sibiului cunoscut și ca Hermannstäder Stuhl sau Szeben szék avea în componență 58 de localități, atât săsești cât și românești. Acesta era format din localitățile principale ce formau Scaunul Sibiului dar și din localități ce aparțineau Scaunelor Filiale ale Tălmaciului și ale Săliștei dar și din alte domenii.</p>
<p>Sibiul în perioada medievală a fost un oraș ce se afla într-un proces continuu de dezvoltare odată cu apariția și reorganizarea breslelor, activitatea acestora fiind un factor important atât în economia locală dar și în apărarea orașului. În lucrarea Chronik der stadt Hermannstadt a istoricului și etnografului sas Emil Sigerus, acesta ne spune că în anul 1376 oraș activau 19 bresle cuprinzând 25 de meserii. Aceste cifre ne arată faptul că Sibiul era un oraș bogat și puternic având în vedere că orașe din Germania precum Köln avea 22 de bresle, Ulm 17 bresle iar Augsburg 16 bresle.  Numărul acestor bresle a crescut astfel că la jumătatea sec. al XVI-lea în oraș activau 29 de bresle iar în anul 1780 erau atestate 40 de bresle.</p>
<p>În perioada medievală Sibiul avea puternice relații economice și politice cu Țara Românească, astfel că în urma relațiilor dintre regii maghiari și domnitorii  Munteniei, au făcut ca anumite domenii din jurul Sibiului să aparțină domnitorilor din Țara Românească. Între 1366 și 1368 domnitorul muntean Vlaicu Vodă deținea domenii din jurul Sibiului și localitățile Făgăraș și Amlaș, domenii ce au fost aparținut mai târziu și domnitorului Mircea cel Bătrân. </p>
<p>Pericolul Imperiului Otoman s-a făcut simțit și în Sibiu, astfel că în 1432 orașul a fost atacat pentru prima orară de către armata turcească însă sistemul de fortificații a rezistat cu succes atacurilor.
În anii următori orașul a fost supus unor altor asedii otomane, astfel Sibiul a mai fost atacat și în anii 1437, 1438, 1442 și 1493. În urma acestor atacuri, Sibiul era considerat un Bastion al creștinătății de către Papa Eugeniu al IV-lea.</p>
<p>În lucrarea Sibiul Gotic, Hermann Fabini ne spune că în anul 1495 printr-o diplomă emisă de către regele maghiar Vladislav al II-lea, la Sibiu va permite alegerea de centumviri, astfel că breslele ajung să fie reprezentate în consiliul de conducere al orașului, astfel creându-se ”sfatul exterior”, creat după modelul ”sfatului interior” ce era alcătuit din jurați ce proveneau din rândul cetățenilor înstăriți și a patricienilor. După cum am menționat anterior breslele jucau un rol important în apărarea orașului. Rolul militar al breslelor fiind acela de a supraveghea intrările și ieșirile din oraș, astfel că fiecare breaslă a construit turnuri și bastioane. Cele patru porți de intrare în cetatea Sibiului erau apărate de breslele croitorilor, cizmarilor, măcelarilor și pielarilor. </p>
<p>Odată cu cucerirea capitalei regatului Ungariei, Buda, în anul 1541 și devenirea Transilvaniei ca principat autonom, a făcut ca Sibiul să fie supus unor numeroase atacuri, însă acesta rezistând cu succes, făcând ca cetatea să fie de nepătruns timp de sute de ani. În perioada sfârșitului sec. al XVI-lea și începutul sec. al XVII-lea, Sibiul a fost martor unor conflicte militare ce aveau să schimbe și să influențeze viața locuitorilor săi. În această perioadă, unul din conflictele la care a fost supus orașul a fost campania militară a lui Mihai Viteazul cu bătălia de la Șelimbăr (Schellenberg) din anul 1599 și între 1601 - 1603 asediul trupelor lui Sigismund Báthory conduse de către Csáky István.</p>
<p>Odată cu reforma religioasă din Germania a lui Martin Luther din anul 1517, reformă ce a avut la bază Cele 95 de teze prin care se dorea reformarea bisericii Romano-Catolice, acest eveniment a dus la excomunicarea lui Luther din biserica Catolică, astfel s-a ajuns la crearea unei noi ramuri a creștinismului. În anul 1543 sașii din Sibiu au adoptat reforma religioasă a lui Luther, deși scrierile lui Luther erau prezente și răspândite în Transilvania încă din anul 1519 de către reformatorul și umanistul sas Johannes Honterus dar și de negustorii și studenții veniți din vestul Europei. Convertirea comunității germane din Sibiu la protestantism a coincis cu convertirea în masă a sașilor transilvăneni, eveniment ce s-a desfășurat în perioada anilor 1542 – 1543.</p>
<p>În ciuda faptului că abia în 1543 orașul a adoptat oficial reforma Lutherană, în anul 1524 a fost oficiată prima slujbă evanghelică la biserica Sfânta Elisabeta (Elisabethkirche), biserică ce a fost demolată în anul 1868 în urma unor daune provocate de un cutremur.</p>
<p>În cronica orașului Sibiu, Emil Sigerus ne spune că în anul 1543 a fost desființată mânăstirea Dominicană și tot în cursul aceluiași an, Martin Luther trimite o scrisoare adresată Sibiului în legătură cu adoptarea reformei sale.</p>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/images/luther.jpg" target="_blank">
                <img src="~/images/luther.jpg" alt="Sibiu" style="width:100%">
                <div class="caption">
                    <p>Martin Luther</p>
                    <p><i><h6>sursă:Wikipedia.org</h6></i></p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/images/Honterus.jpg" target="_blank">
                <img src="~/images/Honterus.jpg" alt="Sibiu" style="width:100%">
                <div class="caption">
                    <p>Johannes Honeterus</p>
                    <p><i><h6>sursă:Commons.wikimedia.org</h6></i></p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/images/biserica_elisabeta.jpg" target="_blank">
                <img src="~/images/biserica_elisabeta.jpg" alt="Sibiu" style="width:100%">
                <div class="caption">
                    <p>Elisabethkirche - Biserica Sf. Elisabeta</p>
                    <p><i><h6>sursă:http://www.cultura.sibiu.ro</h6></i></p>
                </div>
            </a>
        </div>
    </div>
</div>
<p>Unul din cele mai importante evenimente din istoria Sibiului este reprezentat de victoria trupelor austriece asupra trupelor otomane, astfel că Principatul Transilvaniei căpăta o importanță mai deosebită în Imperiul Habsburgic iar capitala principatului se mută la Sibiu. În perioada anilor 1692 – 1791 puterea administrativă a Transilvaniei era exercitată de către guvernul ce își avea sediul la Sibiu. Sibiul și-a recăpătat statutul de capitală a Transilvaniei și între anii 1850 – 1867, însă și-l pierde odată cu alipirea Transilvaniei la Ungaria. Acest eveniment a nemulțumit locuitorii orașului, aceștia opunându-se anexării.</p>
<p>Un alt eveniment cu o importanță deosebită în istoria orașului a fost acela că în anul 1688 la Sibiu se mută Comandantul militar al Transilvaniei și își va avea sediul aici până la data de 7 noiembrie 1918.</p>
<p>Începând cu anul 1737 în Sibiu și în unele sate din zonă apar noi valuri de coloniști de origine germană, Landlerii, protestanți veniți din Austria. Acest nou val de coloniști germani este datorat faptului că aceștia au refuzat să accepte religia catolică impusă de Habsburgici.
Landerii proveneau din regiunea Steiermark însă majoritatea acestora proveneau din regiunea istorică Landl din zona Oberösterreich, regiune istorică cuprinsă între Wels, Gmunden și Vöcklabruck. Odată ajunși în zona Sibiului aceștia s-au stabilit în Turnișor (astăzi cartier al orașului), Cristian dar și în Apoldu de Sus.</p>
<p>În secolul al XIX-lea și începutul sec. al. XX-lea, în Sibiu începe să se simtă o prezență mai mare a populației românești, care până atunci nu reprezenta decât o minoritate cu drepturi limitate. Începând cu anul 1863 minoritatea românească primește drepturi egale cu celelalte grupuri etnice ale orașului.</p>
<p>În ciuda faptului că românii aveau drepturi limitate, în perioada 1778 – 1788 aceștia și-au construit prima biserică de confesiune greco-catolică cu hramul ”Sf. Petru și Pavel”, biserică ridicată de către Inocențiu Micu Klein.</p>
<p>În anul 1868 odată cu anexarea Transilvaniei de către Ungaria, hotărârea dietei maghiare prin care erau acordate drepturi minorităților a fost abolită printr-un decret imperial ce le înlocuia cu ”Legea naționalităților”. Guvernul de la Pesta prevedea existența unei singure națiuni maghiare unitare și indivizibile. Această nouă lege a fost respinsă de reprezentanții minorităților din Imperiul Austro-Ungar. Aplicarea acestei legi a dus la desființarea Pământului Crăiesc al sașilor în anul 1876.
La data de 11 aprilie 1875 au fost desființate breslele ce erau considerate drept o frână în noile condiții de dezvoltare economică.</p>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/images/unire1.jpg" target="_blank">
                <img src="~/images/unire1.jpg" alt="Sibiu" style="width:100%">
                <div class="caption">
                    <p>Marea Unirea din 1918 sărbătorită la Sibiu</p>
                    <p><i><h6>sursă:Alt-Hermannstadt in Ansichtskarten, Fotos, Gemälden und Grafiken</h6></i></p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/images/unire2.jpg" target="_blank">
                <img src="~/images/unire2.jpg" alt="Sibiu" style="width:100%">
                <div class="caption">
                    <p>Marea Unirea din 1918 sărbătorită la Sibiu</p>
                    <p><i><h6>sursă:Alt-Hermannstadt in Ansichtskarten, Fotos, Gemälden und Grafiken</h6></i></p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/images/scoala de fete.jpg" target="_blank">
                <img src="~/images/scoala de fete.jpg" alt="Sibiu" style="width:100%">
                <div class="caption">
                    <p>Școala de fete ”Regina Maria” din Sibiu</p>
                    <p><i><h6>sursă:http://www.sibiunews.net</h6></i></p>
                </div>
            </a>
        </div>
    </div>
</div>
<p>Odată cu unirea Transilvaniei cu România de la 1 decembrie 1918, Sibiul redevine capitala Transilvaniei până la sfârșitul lui 1919, atunci primind și titulatura de municipiu. În anul 1919 orașul își schimbă oficial denumirea astfel că Hermannstadt va deveni Sibiu.</p>
<p>Perioada interbelică a fost una înfloritoare pentru Sibiu, fiind cel mai important centru cultura, social și economic din sudul Transilvaniei însă odată cu izbucnirea celui de al-Doilea Război Mondial ia naștere și Grupul etnic german din România (Deutsche Volksgruppe in Rumänien).
Grupul a fost înființat în urma presiunilor exercitate de Germania nazistă prin Decretul nr. 830 din data de 20 noiembrie 1940.</p>
<p>În anul 1941 pe 15 martie Grupul etnic al germanilor din România preia ziarul sibian Siebenbürgisch-Deutsch și îi schimbă denumirea în Suedostdeutsche Tageszeitung, denumire ce a fost păstrată până în anul 1944 odată cu apariția ultimului număr al ziarului.</p>
<p>Grupul etnic al germanilor din România se bucura de un statut semi-autonom în Regatul României, grupul fiind condus de către un Volksgruppenführer, acesta fiind Andreas Schimdt. Acest Volksgruppenführer a mutat sediul grupului de la Sibiu la Brașov unde se afla sediului Consului general al Germaniei, SS-Oberführer Wilhelm Rodde, membru al partidului nazist (NSDAP - Nationalsozialistische Deutsche Arbeiterpartei, în trad. Partidul Muncitoresc Național-Socialist German).</p>
<p>Odată cu sfârșitul celui de al-Doilea Război Mondial la data de 2 septembrie 1945 începe și începutul sfârșitului grupului etnic german din România. Noua conducere a început procesul deportării germanilor în URSS dar și către Bărăgan. Viitorul germanilor în România comunistă nu a fost unul prea fericit, începând cu anii ’70, germanii au fost vânduți Republicii Federale Germane (RFG), prețurile acestora fiind diferite în funcție de pregătirea lor profesională. Această sumă varia între 1.800 și 11.000 de mărci. Prețul standard al unui german era de 4.200 de mărci însă prețul acestora a crescut astfel că în anul 1988 Republica Federală Germană era nevoită să plătească 8.950 de mărci. Odată cu răsturnarea regimului comunist și liberalizarea călătoriilor, anii 1990 au fost reprezentați de valuri uriașe de plecări ale sașilor.  La ultimul recensământ numărul etnicilor germani din Sibiu a scăzut la numai 1561.</p>
<p>Odată cu restructurarea administrativă a României din 1968, Sibiul devine capitala județului. Sibiul s-a dovedit a fi unul din orașele importante din cadrul Revoluției din 1989, acesta fiind al doilea oraș după Timișoara ce începuse demonstrațiile publice împotriva regimului comunist. În anii recenți, Sibiul a continuat să fie un oraș important atât pentru Transilvania cât și pentru România, fiind un oraș cu o creștere importantă economică dar și continuând să fie un centru cultural important, astfel că odată cu aderarea României la Uniunea Europeană la data de 1 ianuarie 2007, Sibiul devine Capitala Culturală Europeană împreună cu orașul Luxemburg, astfel că Sibiul a devenit primul oraș est european ce primește acest titlu.</p>
<br />
<p><h6><i>Sigerus. E., 2005, Chronik der Stadt Hermannstadt, Ed. Honterus, Sibiu</i></h6></p>
<p><h6><i>Fabini, H, Sibiul Gotic, 1982, Ed. Tehnică, București</i></h6></p>
<p><h6><i>Avram, Al., Bucur, I., 1999, Topografia monumentelor din Transilvania - Municipiul Sibiu, Ed. Rheinland Köln</i></h6></p>
<p class="pull-right"><a href="#">Back to top</a></p>
