@{
    ViewData["Title"] = "Galerie Foto - Sibiul Istoric";
}
<div class="container">
    <h2>Galerie Foto - Sibiul Istoric</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/Trupe_Germane_1.jpg" target="_blank">
                    <img src="~/images/Trupe_Germane_1.jpg" alt="Sibiu" style="width:100%">
                    <div class="caption">
                        <p>Wehrmacht - Regimentul 308, 10 mai 1941</p>
                        <p><i><h6>sursă:Alt-Hermannstadt in Ansichtskarten, Fotos, Gemälden und Grafiken</h6></i></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/Trupe_Germane_2.jpg" target="_blank">
                    <img src="~/images/Trupe_Germane_2.jpg" alt="Sibiu" style="width:100%">
                    <div class="caption">
                        <p>Wehrmacht - Regimentul 308, 10 mai 1941</p>
                        <p><i><h6>sursă:Alt-Hermannstadt in Ansichtskarten, Fotos, Gemälden und Grafiken</h6></i></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/Turnul_Preotilor_Capela.jpg" target="_blank">
                    <img src="~/images/Turnul_Preotilor_Capela.jpg" alt="Sibiu" style="width:100%">
                    <div class="caption">
                        <p>Turnul Preotilor si Capela Ladislau</p>
                        <p><i><h6>sursă:Alt-Hermannstadt in Ansichtskarten, Fotos, Gemälden und Grafiken</h6></i></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/Str_Ocnei.jpg" target="_blank">
                    <img src="~/images/Str_Ocnei.jpg" alt="Sibiu" style="width:100%">
                    <div class="caption">
                        <p>Strada Ocnei și Podul Minciunilor</p>
                        <p><i><h6>sursă:Alt-Hermannstadt in Ansichtskarten, Fotos, Gemälden und Grafiken</h6></i></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/Statuie_Nepomuk.jpg" target="_blank">
                    <img src="~/images/Statuie_Nepomuk.jpg" alt="Sibiu" style="width:100%">
                    <div class="caption">
                        <p>Statuia Sf. Ioan Nepomuk din Piața Mare</p>
                        <p><i><h6>sursă:Alt-Hermannstadt in Ansichtskarten, Fotos, Gemälden und Grafiken</h6></i></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/Gara.jpg" target="_blank">
                    <img src="~/images/Gara.jpg" alt="Sibiu" style="width:100%">
                    <div class="caption">
                        <p>Gara din Sibiu</p>
                        <p><i><h6>sursă:Alt-Hermannstadt in Ansichtskarten, Fotos, Gemälden und Grafiken</h6></i></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/Harta_Visconti.jpg" target="_blank">
                    <img src="~/images/Harta_Visconti.jpg" alt="Sibiu" style="width:100%">
                    <div class="caption">
                        <p>Harta lui Giovanni Morandi Visconti, 1699</p>
                        <p><i><h6>sursă:Alt-Hermannstadt in Ansichtskarten, Fotos, Gemälden und Grafiken</h6></i></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/vedere.jpg" target="_blank">
                    <img src="~/images/vedere.jpg" alt="Sibiu" style="width:100%">
                    <div class="caption">
                        <p>Salutări din Sibiu</p>
                        <p><i><h6>sursă:Alt-Hermannstadt in Ansichtskarten, Fotos, Gemälden und Grafiken</h6></i></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/Piata_Mica.jpg" target="_blank">
                    <img src="~/images/Piata_Mica.jpg" alt="Sibiu" style="width:100%">
                    <div class="caption">
                        <p>Vedere asupra Pieței Mici</p>
                        <p><i><h6>sursă:Alt-Hermannstadt in Ansichtskarten, Fotos, Gemälden und Grafiken</h6></i></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/Sibiu_1967.jpg" target="_blank">
                    <img src="~/images/Sibiu_1967.jpg" alt="Sibiu" style="width:100%">
                    <div class="caption">
                        <p>Vizita lui Ceaușeșcu la Sibiu, 1967</p>
                        <p><i><h6>sursă:Alt-Hermannstadt in Ansichtskarten, Fotos, Gemälden und Grafiken</h6></i></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/Sibiu_1967_1.jpg" target="_blank">
                    <img src="~/images/Sibiu_1967_1.jpg" alt="Sibiu" style="width:100%">
                    <div class="caption">
                        <p>Vizita lui Ceaușeșcu la Sibiu, 1967</p>
                        <p><i><h6>sursă:Alt-Hermannstadt in Ansichtskarten, Fotos, Gemälden und Grafiken</h6></i></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/Piata_Mare_anii70.jpg" target="_blank">
                    <img src="~/images/Piata_Mare_anii70.jpg" alt="Sibiu" style="width:100%">
                    <div class="caption">
                        <p>Piața Mare în anii '70</p>
                        <p><i><h6>sursă:Alt-Hermannstadt in Ansichtskarten, Fotos, Gemälden und Grafiken</h6></i></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<p class="pull-right"><a href="#">Back to top</a></p>