@{
    ViewData["Title"] = "Galerie Foto - Sibiul Astăzi";
}
    <div class="container">
        <h2>Galerie Foto - Sibiul Astăzi</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/images/IMG_0.jpg" target="_blank">
                        <img src="~/images/IMG_0.jpg" alt="Lights" style="width:100%">
                        <div class="caption">
                            <p>Vedere de pe strada Conrad Haas</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/images/IMG_1.jpg" target="_blank">
                        <img src="~/images/IMG_1.jpg" alt="Nature" style="width:100%">
                        <div class="caption">
                            <p>Pasajul Aurarilor</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/images/IMG_2.jpg" target="_blank">
                        <img src="~/images/IMG_2.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <p>Strada Nicolae Bălescu</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/images/IMG_3.jpg" target="_blank">
                        <img src="~/images/IMG_3.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <p>Pasaj între str. Mitropoliei și str. Al. Xenopol</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/images/IMG_4.jpg" target="_blank">
                        <img src="~/images/IMG_4.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <p>Altarul Catedralei Ortodoxe</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/images/IMG_5.jpg" target="_blank">
                        <img src="~/images/IMG_5.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <p>Vedere spre P-ța Mică de pe Podul Miciunilor</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/images/IMG_7.jpg" target="_blank">
                        <img src="~/images/IMG_7.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <p>Primăria și Biserica Romano-Catolică</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/images/IMG_8.jpg" target="_blank">
                        <img src="~/images/IMG_8.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <p>Vedere din turnul Catedralei Evanghelice</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/images/IMG_9.jpg" target="_blank">
                        <img src="~/images/IMG_9.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <p>Vedere din turnul Catedralei Evanghelice</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/images/IMG_10.jpg" target="_blank">
                        <img src="~/images/IMG_10.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <p>Fresca de pe fațada Casei Altemberg</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/images/IMG_11.jpg" target="_blank">
                        <img src="~/images/IMG_11.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <p>Strada Alexandru Odobescu</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="~/images/IMG_12.jpg" target="_blank">
                        <img src="~/images/IMG_12.jpg" alt="Fjords" style="width:100%">
                        <div class="caption">
                            <p>Vedere din Turnul Sfatului</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
<p class="pull-right"><a href="#">Back to top</a></p>