@{
    ViewData["Title"] = "Sistemul de Fortificații";
}
<div class="container">
    <h2>Sistemul de fortificații</h2>
    <p>Timp de sute de ani zidurile fortificațiilor din Sibiu erau considerate limita orașului, în timp ce tot ce era construit în afara acestora era considerat suburbie. Limita orașului era formată din ceea ce numim noi astăzi centrul istoric al orașului, Orașul de Sus și Orașul de Jos. Sistemul de fortificații a jucat un rol extrem de important încă de la începuturile orașului, zidurile acestui protejând locuitorii orașului în numeroase ocazii.</p>
    <p>Primele lucrări de fortificare ale orașului au început în anul 1191, fiind și anul în care orașul a fost atestat documentar pentru prima oară de către Papa Celestin al-III-lea. Lucrările de fortificare ale acelei mici așezări săsești s-au desfășurat în jurul bisericii Sfânta Maria din Piața Huet, cu 51 de ani înaintea invaziei tătarilor. În subsolul anumitor case din Piața Huet încă se pot observa fragmente ale primei incinte de fortificații ale Sibiului.  Prima incintă de fortificații a orașului a fost construită în 33 de ani, lucrările începând în 1191 și finalizându-se în anul 1224.</p>
    <p>Din dorința de extindere a suprafeței orașului s-au început lucrările celei de a doua incinte a sistemului de fortificații, acestea începând în anul 1224. Piața Mică s-a format odată cu finalizarea lucrărilor celei de a doua centuri de fortificații.<i>” Perimetrul Pieței Mici este determinat spre nord, est și sud de casele ridicate pe zidurile celei de-a doua centuri."</i></p>
    <p>Sistemul de fortificații construit până în anul 1241 nu a făcut față invaziei tătarilor, aceștia distrugând aproape tot orașul. Începând cu anul 1357 au început lucrările celei de a treia centuri de fortificații, lucrări ce au durat 9 ani, terminându-se în anul 1366.</p>
    <p>Sistemul de fortificații din Orașul de Sus a fost definitivat în secolul al XIV-lea, iar tot în aceeași perioada au început lucrările pentru construirea sistemului de fortificații din Orașul de Jos, acest sistem de fortificații delimitând orașul timp de câteva sute de ani.</p>
    <p>Sistemul de fortificații din Sibiu era cel mai adesea construit din cărămidă însă pe alocuri zidurile erau construite din cărămidă și piatră, iar pe alocuri se ridicau turnuri de tip porți ce reprezentau porțile de intrare în cetate. Porțile de intrare din Sibiu erau 13 la număr, majoritatea acestora au fost demolate în secolul al XIX-lea însă câteva sunt încă în picioare și astăzi.
Sistemul de fortificații sibian a rezistat cu bine asediilor otomane ce au început cu anul 1432, însă odată cu începerea lor, au început ample noi lucrări de îmbunătățire a acestuia prin construirea de noi turnuri, consolidarea celor vechi și dublarea grosimii zidurilor. Toate aceste noi turnuri și ziduri au fost construite din cărămidă.</p>
    <p>În anul 1622 a început construirea bastionului Soldisch (Bastionul Mercenarilor), bastion menit să apere partea vestică a cetății. Construcția bastionului s-a desfășurat între anii 1622-1627, timp de 5 ani. Odată cu construirea acestui bastion s-au încheiat și lucrările de fortificare a orașului prin ridicarea de ziduri în stilul incintelor de fortificare deja prezente în oraș.</p>
    <p>În perioada în care Sibiul era capitala Transilvaniei, conducerea Habsburgică a dorit ca orașul să devină o fortăreață impenetrabilă, astfel că aceștia au ordonat construirea unei noi centuri de fortificații în stil citadelă cu 5 colțuri de tip Vauban. Guvernul Habsburgic la angajat pe inginerul italian Giovanni Morando Visconti pentru proiectarea acestei nou proiect de fortificare a orașului, astfel că în anul 1699, Viscoti a realizat prima hartă a Sibiului. Harta a fost realizată de către cartografii Johann Conrad Predtscheiner și Stefan Welzer. Aceștia au fost angajați de Viscoti să cartografieze orașul și împrejurimile lui. Harta era una la scara 1:8000. Odată cu apariția acestei prime hărți apar și primele toponimii locale pe o hartă, astfel că pe harta lui Visconti denumirile pentru Orașul de Sus și Orașul de Jos apar sub denumirile de Città Alta și Città Bassa.</p>
    <p>Această hartă a orașului a fost prezentată de către generalului Rabutin către Împăratul Habsburgic Leopold I. Împăratul și-a dat acordul pentru construcția citadelei, aceasta urmând să fie construită în fața porții Cisnădiei (Heltauertor).</p>
    <p>Toată această investiție a costat conducerea austriacă 450.000 de galbeni, iar 2852 de muncitori de pe întreg teritoriul Transilvaniei au fost trimiși să o construiască. Construcția citadelei nu a luat sfârșit niciodată datorită faptului că în anul 1703 lucrările au fost oprite din lipsa fondurilor și din cauza răscoalei curuților, răscoală antihabsburgică. Până la oprirea lucrărilor, în zona în care urma să fie construită citadela au fost aduse valuri de pământ pentru ridicarea acesteia. În unele zone din oraș încă se pot observa acele dâmburi create de valuri de pământ aduse (spre ex. în zona hotelului Ramada).</p>
    <p>Zona în care urma să fie construită citadela a fost lăsată în paragină, însă în urma vizitei Împăratului austriac Joseph al-II-lea, zona a fost oferită sibienilor spre a fi reparcelată și reutilizată. În urma acestei vizite și decizii a Împăratului a luat naștere cartierul pe care astăzi în cunoaștem sub numele de Iosefin (Josephstadt), cartier ce poartă numele Împăratului austriac. Odată cu crearea acestui noi cartier sibian, la 14 aprilie 1773 au fost vândute primele 33 parcele din cele 100 rezultate în urma reparcelării. Primele parcele au fost vândute imigranților veniți din Austria.</p>
    <p>În acea perioadă a început și de-fortificarea orașului prin demolarea zidurilor și turnurilor, demolări menite să creeze spațiu pentru reamenajarea și extinderea orașului. În anul 1807 a început demolarea Turnului Țesătorilor din cadrul bastionului Soldisch în timp ce în anul 1830 lucrările de demolare duc la dărâmarea porții exterioare a Porții Ocnei, aceasta urmând să fie demolată cu totul în anul 1857. În anul 1837 a fost demolat turnul Porții Cisnădiei iar în anul 1851 au fost demolate clădirile ce se aflau pe tunelul dinspre Str. Ocnei. În anul 1852 a fost demolate zidurile interioare și turnurile bastionului Soldisch iar tot în același an a fost demolată Poarta Turnului.</p>
    <p>Lucrările ample de demolare a vechiului sistem de fortificații a orașului s-au continuat și în anii următori, astfel că în anii 1853, 1857, 1858 și 1865 au fost demolate: turnul Porții Elisabeta, Turnul Frânghierilor de la Poarta Leșurilor, Poarta Ocnei, Poarta Turnului, zidul și turnul Porții Elisabeta. După aceste ample lucrări de demolare a urmat o pauză de șase ani, însă din 1871 acestea au fost reluate și continuate până în 1903. Începând cu anul 1871 a fost demolat zidul centurii de fortificații ce se desfășura între străzile 9 mai și Str. Pielarilor, în timp ce în perioada 1872 – 1886 au fost demolate ultimele ziduri ale sistemului de fortificații din Orașul de Jos.</p>
    <p>Lucrările de demolare s-au continuat cu Turnului Aurarilor în anul 1881, în 1890 cu demolarea Turnului Sării, în 1895 cu demolarea zidurilor de pe Str. Cetății, în 1898 cu demolarea Turnului Preoților și a Capelei Iacob din Piața Huet, iar în 1903 a fost demolat zidul exterior al sistemului de fortificații de pe bastionul Soldisch.</p>
    <p>Sistemul de fortificații sibian nu a fost demolat în totalitate, în prezent mai sunt în picioare câteva bastioane, turnuri și ziduri, dintre acestea putem enumera: Bastionul Soldisch, Bastionul Haller, Turnul Gros, Turnul Scărilor, Turnul de Poartă, Turnul Olarilor, Turnul Archebuzierlor, Turnul Dulgherilor, Turnul Pielarilor și Turnul Pulberăriei.</p>
    <br />
    <p><h6><i>Sigerus. E., 2005, Chronik der Stadt Hermannstadt, Ed. Honterus, Sibiu</i></h6></p>
    <p><h6><i>Fabini, H, Sibiul Gotic, 1982, Ed. Tehnică, București</i></h6></p>
    <p><h6><i>Repertoriul Arheologic al Județului Sibiu</i></h6></p>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/poarta_lesurilor.jpg" target="_blank">
                    <img src="~/images/poarta_lesurilor.jpg" alt="Sibiu" style="width:100%">
                    <div class="caption">
                        <p>Poarța Leșurilor</p>
                        <p><i><h6>sursă:Alt-Hermannstadt in Ansichtskarten, Fotos, Gemälden und Grafiken</h6></i></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/bastion_haller.jpg" target="_blank">
                    <img src="~/images/bastion_haller.jpg" alt="Sibiu" style="width:100%">
                    <div class="caption">
                        <p>Bastionul Haller</p>
                        <p>Fotografie realizată în 2014</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/Piata_Huet_1280.jpg" target="_blank">
                    <img src="~/images/Piata_Huet_1280.jpg" alt="Sibiu" style="width:100%">
                    <div class="caption">
                        <p>Prima incintă de fortificații din Sibiu</p>
                        <p>Autor: Radu Oltean, Art Historia</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
<p class="pull-right"><a href="#">Back to top</a></p>